.HeaderComponent {
    display: grid;
    grid-template-columns: 250px 2fr 1fr 200px;
    grid-template-rows: 50px repeat(2, 90px) 50px;
    grid-template-areas:
    'menu menu menu menu'
    'portrait name flower resume'
    'portrait info flower resume'
    'slant slant slant slant';
    background: $cGrey;

    // & > div {
    //     border: 1px solid red;
    // }

    .menu {
        grid-area: menu;
        font-size: 16px;
        text-align: right;
        align-self: center;

        a {
            margin: 8px;
            color: darken($cBrown, 10%);
            padding: 0 10px;

            &.active {
                border-bottom: 1px solid $cBrown;
            }

            &:last-child {
                margin-right: 24px;
            }
        }

    }

    .portrait {
        grid-area: portrait;
        height: 170px;
        width: 170px;
        overflow: hidden;
        border-radius: calc(170px/2);
        justify-self: center;
        align-self: center;
        box-shadow: 0 5px 7px rgba(0, 0, 0, .3);

        img {
            height: 170px;
            width: 170px;
        }
    }

    .name {
        grid-area: name;

        h1 {
            padding-top: $sFont;
            font-size: $sFontHuge;
            font-family: fLight;
            color: $cBlack;
        }

        h2 {
            font-size: $sFontBig;
            padding-top: 10px;
        }
    }

    .flower {
        grid-area: flower;
    }

    .resume {
        grid-area: resume;
    }

    .info {
        grid-area: info;
        padding-left: 22px;
        border-left: 3px solid $cBrown;


        p {
            padding-top: 12px;
        }
    } // .info

    .slant {
        width: 0;
        height: 0;
        border-left: 1100px solid transparent;
        border-bottom: 50px solid $cWhite;
        // TODO: bring shadow to slant
        // box-shadow: 0 -5px 7px rgba(0, 0, 0, .3);
    }

} // .HeaderComponent
