.HeaderComponent {
    display: grid;
    grid-template-columns: 250px 2fr 1fr 200px;
    grid-template-rows: 50px repeat(2, 90px) 50px;
    grid-template-areas:
    'menu menu menu menu'
    'portrait name flower resume'
    'portrait info flower resume'
    'slant slant slant slant';

    & > div {
        border: 1px solid red;
    }

    .menu {
        grid-area: menu;
    }

    .portrait {
        grid-area: portrait;
    }

    .name {
        grid-area: name;

        h1 {
            padding-top: $sFont;
            font-size: $sFontHuge;
            font-family: fLight;
            color: $cBlack;
        }

        h2 {
            font-size: $sFontBig;
            padding-top: 10px;
        }
    }

    .flower {
        grid-area: flower;
    }

    .resume {
        grid-area: resume;
    }

    .info {
        grid-area: info;
    }

} // .HeaderComponent
