.ContactComponent {
    display: grid;
    grid-template-columns: 570px 1fr 145px;
    grid-template-rows: 130px 440px;
    grid-template-areas:
    'ribbon . .'
    'map form .';

    .map {
        grid-area: map;
    }

    .form {
        grid-area: form;
        display: grid;
        grid-template-columns: 80px 305px;
        grid-template-rows: 90px 350px;
        grid-template-areas:
        'header header'
        'label box';


        span {
            grid-area: header;
            font-family: fBlack;
            justify-self: center;
            margin-top: 30px;
        }

        .label {
            grid-area: label;

            .email {
                margin-top: 8px;
            }

            .message {
                margin-top: 34px;
            }
        }

        input {
            grid-area: box;
            margin-bottom: 15px;

            &[type='email'] {
                height: 30px;
                width: 300px;
                border-radius: 4px;
                border: 1px solid $cBrown;
            }

            &[type='text'] {
                grid-area: box;
                height: 110px;
                width: 300px;
                border-radius: 4px;
                border: 1px solid $cBrown;
            }

            &[type='submit'] {
                grid-area: box;
                height: 30px;
                width: 300px;
                border-radius: 4px;
                background-color: $cBrown;
                color: $cWhite;
                font-size: $sFont;
                cursor: pointer;
            }
        }


    }// form

} // ContactComponent
