.SkillComponent {
  width: 430px;
  height: 30px;
  display: grid;
  background: $cWhite;
  grid-template-columns: 170px 1fr 30px;
  grid-template-rows: 30px;
  grid-template-areas: "title rating points";
  align-items: center;
  font-family: fBlack;
  margin-right: 20px;

  .title {
    grid-area: title;
    justify-self: right;
  }

  .years {
    grid-area: rating;

    div {
      border: 1px solid $cPurple;
      display: initial;
      padding: 1px 10px;
      margin-left: 10px;
      border-radius: 4px;
      font-size: 12px;

      &.active {
        background-color: $cPurple;
        color: $cWhite;
      }
    }
  }

  .rating {
    grid-area: rating;
    justify-self: center;
    position: relative;
    height: 16px;
    width: 210px;

    svg {
      height: 16px;
      width: 210px;
    }

    .fill,
    .grey {
      position: absolute;
      top: 0;
      left: 0;
      width: 210px;
      clip-path: url("#clipping");
      height: 16px;
      background: $cGrey;
    }

    .fill {
      // width of progress bar is control programatically
      background: $cPurple;
      color: $cWhite;
    }
  }

  .points {
    grid-area: points;
    justify-self: left;
  }
} // .SkillsComponent
