.container {
    display: grid;
    grid-template-areas:
    '. . .'
    '. body .'
    '. footer .';
    grid-template-columns: 1fr 1100px 1fr;
    grid-template-rows: 18px min-content 90px;
}

.page {
    grid-area: body;
    background: $cWhite;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.footer {
    grid-area: footer;
}
