.SkillsComponent {
    position: relative;
    display: grid;
    background: $cWhite;
    grid-template-columns: 490px 1fr 125px;
    grid-template-rows: 160px 240px;
    grid-template-areas:
    '. . .'
    '. . .';
} // .SkillsComponent
