.ProjectComponent {
    display: grid;
    grid-template-columns: 520px 125px 1fr;
    grid-template-rows: 120px 260px;
    grid-template-areas:
    'desktop title title'
    'desktop infoQ infoA';

    &.right {
        grid-template-columns: 50px 125px 1fr 520px 30px;
        grid-template-areas:
        '. title title desktop .'
        '. infoQ infoA desktop .';
    }

    .desktop {
        grid-area: desktop;
        align-self: center;
        justify-self: center;
    }

    .screen {
        grid-area: desktop;
        justify-self: center;
        margin-top: 30px;
        height: 225px;
        width: 390px;
        background-size: 100% 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .company {
        grid-area: title;
        display: grid;
        grid-template-columns: 95px 420px;
        grid-template-rows: 50px 70px;
        grid-template-areas:
        'icon name'
        'icon description';

        .icon {
            grid-area: icon;
            height: 65px;
            width: 65px;
            margin-top: 20px;
            background-size: 100% 100%;
        }

        .name {
            grid-area: name;
            font-size: $sFontBig;
            font-family: fBlack;
            margin-top: 20px;
        }

        .description {
            grid-area: description;
            font-size: 12px;
            line-height: 16px;

        }
    }

    .infoQ {
        grid-area: infoQ;

        div {
            text-align: right;
            padding: 5px 0;
        }
    }

    .infoA {
        grid-area: infoA;
        border-left: 1px solid $cBrown;
        margin-left: 5px;
        padding-left: 5px;
        height: fit-content;

        div {
            padding: 5px 0;

            &:last-child {
                cursor: pointer;
                color: $cBlue;
                margin-top: -2px;

                i {
                    height: 16px;
                    width: 16px;
                    background: url('./app/img/external-link.svg');
                    background-size: 100%;
                    display: inline-block;
                    margin: 0 0 -3px 5px;
                }
            }
        }
    }
}//ProjectComponent
