.ProjectComponent {
    display: grid;
    border: 1px solid red;
    grid-template-columns: 520px 1fr;
    grid-template-rows: 120px 260px;
    grid-template-areas:
    'desktop title'
    'desktop info';

    .desktop {
        grid-area: desktop;
        align-self: center;
        justify-self: center;
    }

    .screen {
        grid-area: desktop;
        justify-self: center;
        margin-top: 30px;
        height: 225px;
        width: 390px;
        background-size: 100% 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .company {
        grid-area: title;
        display: grid;
        grid-template-columns: 95px 420px;
        grid-template-rows: 50px 70px;
        grid-template-areas:
        'icon name'
        'icon description';

        .icon {
            grid-area: icon;
            height: 65px;
            width: 65px;
            margin-top: 20px;
            background-size: 100% 100%;
        }

        .name {
            grid-area: name;
            font-size: $sFontBig;
            font-family: fBlack;
            margin-top: 20px;
        }

        .description {
            grid-area: description;
            font-size: 12px;
            line-height: 16px;

        }
    }

    .info {
        grid-area: info;
        border: 1px solid blue;
        display: grid;
        grid-template-columns: 130px 280px;
        grid-template-rows: repeat(5, 30px);
        grid-template-areas:
        'role description1'
        'technologies description2'
        'years description3'
        'location description4'
        'url link';

        .role {
            grid-area: role;
            justify-self: right;
            align-self: end;
        }

        .technologies {
            grid-area: technologies;
            justify-self: right;
            align-self: end;
        }

        .years {
            grid-area: years;
            justify-self: right;
            align-self: end;
        }

        .location {
            grid-area: location;
            justify-self: right;
            align-self: end;
        }

        .url {
            grid-area: url;
            justify-self: right;
            align-self: end;
        }
      }






























}//ProjectComponent
