body {
  background-color: #5d3c37;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1100px 1fr;
  grid-template-rows: 18px min-content 90px;
  grid-template-areas:
    ". . ."
    ". body ."
    ". footer .";
}

.body {
  grid-area: body;
  background: white;
  /* display: grid;
  grid-column: 1100px;
  grid-row: 280px;
  grid-template-areas:
    "header"; */
}

.header {
  /* grid-area: header; */
  display: grid;
  grid-template-columns: 250px 2fr 1fr 200px;
  grid-template-rows: 50px repeat(2, 90px) 50px;
  grid-template-areas:
    "menu menu menu menu"
    "portrait name flower resume"
    "portrait info flower resume"
    "slant slant slant slant";
}

.menu {
  grid-area: menu;
}

.portrait {
  grid-area: portrait;
}

.name {
  grid-area: name;
}

.flower {
  grid-area: flower;
}

.resume {
  grid-area: resume;
}

.info {
  grid-area: info;
}

.footer {
  grid-area: footer;
}
