.FooterComponent {
    display: grid;
    grid-template-columns: 180px 180px 1fr;
    grid-template-rows: 40px;
    grid-template-areas:
    'linkedin github copyright';
    font-size: $sFont;
    align-items: center;
    padding-top: 8px;

    .linkedin {
        grid-area: linkedin;
        display: grid;
        grid-template-columns: 60px 90px;
        grid-template-areas: 'img a';
        cursor: pointer;

        img {
            grid-area: img;
            justify-self: right;

        }

        a {
            justify-self: right;
            padding-top: 5px;
        }

        &:hover {
            a {
                text-decoration: underline;
            }
        }
    }

    .github {
        grid-area: github;
        display: grid;
        grid-template-columns: 80px 80px;
        grid-template-areas: 'img a';
        cursor: pointer;

        img {
            grid-area: img;
            justify-self: right;
        }

        a {
            justify-self: right;
            padding-top: 5px;
        }

        &:hover {
            a {
                text-decoration: underline;
            }
        }

     }

    .copyright {
        justify-self: right;
        padding-right: 40px;
    }

}// FooterComponent
